input {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    outline: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
hr {
    margin: 20px 0;
}
input[type="radio"] {
    display: none;
}
body {
    font-family: 'True Gothic Cyr', sans-serif;
    margin: 0;
    padding: 5vw 10vw;
    background: #0E3151;
}
